#This a demo .env file for the NOSQL Project. It's the password for the Neo4j database. Please change it to your own password when you set up your own instance of the database.
PASSWORD=CyberCorp-Neo4j-2026-lol-pelican99!